.reviews-container {
    margin: 10%;
    padding: 20px;   
   }
   th {
       padding: 10px;
       background-color: lightgray;
   }
   .report-table {
       width: 80%;
   }

   .disable-review-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.disabled-label {
    color: gray;
    font-style: italic;
}
